<% if @step == 1 %>
  <table>
    <tr>
      <td colspan="2"><b><%= _('Select_details_for_CDR_rerating') %>:</b></td>
    </tr>
    <%= form_tag(:action => 'rerating', :step => 2) do %>
      <tr>
        <td><%= _('From') %>:</td>
	    <td><%= select_datetime(Time.mktime(*session_from_datetime_array), :end_year => Date.today.year+1, :prefix => "date_from", :use_month_numbers => false) %></td>
      </tr>
      <tr>
        <td><%= _('To') %>:</td>
        <td><%= select_datetime(Time.mktime(*session_till_datetime_array), :end_year => Date.today.year+1, :prefix => "date_till", :use_month_numbers => false) %></td>
      </tr>
      <tr>
        <td><%= _('Select_user') %>:</td>
        <td>
          <%= render 'shared/live_search_field', object: params[:s_user],
                                                 object_id: params[:s_user_id],
                                                 object_name: 'User',
                                                 action_url: {controller: :users,
                                                              action: :get_users_map,
                                                              options: {show_reseller_users: true}
                                                              } %>
          <%= check_box_tag 'all_users', '1', params[:all_users].to_i == 1 ? true : false %>
          <%= _('All_Users') %>
          <span id="user_not_selected_info"><%= b_exclamation + _('Please_select_User') %></span>
          <script type="text/javascript">
            window.onload = function() {
              var submit_buttons = [$('submit_test'),$('submit_gui'), $('submit_bg')];
              new Form.Element.EventObserver('s_user', hideSubmitButton);
              new Form.Element.EventObserver('all_users', manageCheckBoxEvents);

              hideSubmitButton();
              toggleCheckBox();

              function setButtonsDisabled(state){
                for(var i = 0; i < submit_buttons.length; i++){
                  if (submit_buttons[i] != null){
                    submit_buttons[i].disabled = state;
                  }
                }
              }

              function disableLiveSearch(){
                $('s_user').disabled = true;
                $('s_user').value = '';
                $('s_user_id').value = -2;
                $('user_list').innerHTML = '';
              }

              function enableLiveSearch(){
                $('s_user').disabled = false;
              }

              function hideSubmitButton(){
                var user_id = $("s_user_id");
                if((user_id.value === '-2' || user_id.value === '') && !$("all_users").checked ){
                  setButtonsDisabled(true);
                  $('user_not_selected_info').show();
                } else {
                  setButtonsDisabled(false);
                  $('user_not_selected_info').hide();
                }
              }

              function manageCheckBoxEvents(){
                hideSubmitButton();
                toggleCheckBox();
              }

              function toggleCheckBox() {
                if ($('all_users').checked) {
                  disableLiveSearch();
                  if ($('resellers_included_row') != null){
                    $('resellers_included_row').show();
                  }
                  if (parseInt('<%= @number_of_users %>') > 100) {
                    $('submit_gui').disabled = true;
                    $('submit_test').disabled = true;
                  }
                } else {
                  enableLiveSearch();
                  if ($('resellers_included_row') != null){
                    $('resellers_included_row').hide();
                  }
                }
              }
            };
          </script>
          <% if Confline.get_value('RS_Active').to_i == 1 %>
            <span id="resellers_included_row">
              <%= check_box_tag 'reseller_users_included', '1', params[:reseller_users_included].to_i == 1 ? true : false %>
              <%= _('reseller_users_included') %>
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= _('Ghost_time') %>:</td>
        <td><%= text_field_tag 'ghost_time', params[:ghost_time].present? ? params[:ghost_time] : '0', "class" => "input", :size => "3" %> %</td>
      </tr>
      <tr>
        <td colspan="2">
          </br>
            <%= submit_tag _('Rerate'), id: 'submit_bg',data: { disable_with: _('Processing..') } %>
        </td>
      </tr>
    </table>
    <br/>
    <br/>
    <table width="100%">
      <tr>
        <td>
          <b><%= _('testing_mode_caps') %></b>
          <hr/>
        </td>
      </tr>
      <tr>
        <td><%= b_info + _('Rerating_testing_notification').html_safe %></td>
      </tr>
      <tr>
        <td><%= b_exclamation + _('Rerating_testing_notice').html_safe %></td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td><%= _('Tariff_for_User') %>:</td>
              <td>
                <select name="test_tariff_id">
                  <% for tariff in @tariffs %>
                    <option value="<%= tariff.id %>" <%= "selected" if session[:rerating_testing_tariff_id].to_i == tariff.id %>>
                      <%= tariff.name %>
                      (<%= _('Retail') if tariff.purpose == "user" %><%= _('Wholesale') if tariff.purpose != "user" %>)
                    </option>
                  <% end %>
                </select>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td><%= submit_tag _('test_with_selected_tariff_slow'), id: 'submit_test', data: { disable_with: _('Processing..') } %></td>
      </tr>
    </table>
  <% end %>
  <%= content_for :scripts do %>

  <% end %>
<% end %>

<% if @step == 2 %>
    <table width="100%" class="nb">
      <tr>
        <td colspan=2>
          <b><%= b_user + _('user') %>:</b>
          <% if @user_id == -1 %>
              <%= _('All_Users') %>
          <% else %>
              <%= nice_user(@users.first) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan=2>
          <b><%= b_date + _('Time_period') %>:</b> <%= session_from_datetime %> - <%= session_till_datetime %>
        </td>
      </tr>

      <tr>
        <td colspan=2>
          <b><%= b_testing + _('Testing_mode') %>
            :</b> <%= b_check if session[:rerating_testing].to_i == 1 %><%= b_cross if session[:rerating_testing].to_i == 0 %>
        </td>
      </tr>

      <tr>
        <td>

          <b><%= b_call + _('Total_calls') %>:</b> <%= @total_calls %>
        </td>

        <td align="right">
          <% if @total_calls > 0 and @user_id != -1 and session[:rerating_testing].to_i == 0 %>
              <%= link_to b_pdf + _('Export_to_PDF'), :controller => "stats", :action => "call_list_to_pdf", :id => @user_id, :date_from => session_from_datetime, :date_till => session_till_datetime, :call_type => "answered" %>
              &nbsp;
              <%= link_to b_csv + _('Export_to_CSV'), :controller => "stats", :action => "call_list_to_csv", :id => @user_id, :date_from => session_from_datetime, :date_till => session_till_datetime, :call_type => "answered" %>
          <% end %>

        </td>
      </tr>


      <tr>
        <td height=5></td>
      </tr>


      <% if @total_calls > 0 %>
          <tr>
            <td>

              <table width="50%" class="simple">

                <% if @user_id == -1 %>

                    <tr>
                      <td><b><%= _('Total_users_with_calls') %>:</b></td>
                      <td> <%= @users_with_calls %>        </td>
                    </tr>

                <% end %>

                <tr>
                  <td><b><%= _('Total_time') %>:</b></td>
                  <td id="total_time_value"> <%= nice_time @billsec %>        </td>
                </tr>
                <tr>
                  <td><b><%= _('Total_provider_price') %>:</b></td>
                  <td id="provider_price"><%= nice_number @provider_price %>        </td>
                </tr>
                <tr>
                  <td><b><%= _('Total_reseller_price') %>:</b></td>
                  <td id="reseller_price_value"><%= nice_number @reseller_price %>        </td>
                </tr>
                <tr>
                  <td><b><%= _('Total_user_price') %>:</b></td>
                  <td id="user_price_value"><%= nice_number @user_price %>        </td>
                </tr>
              </table>

            </td>
          </tr>

          <tr>
            <td height=15></td>
          </tr>

          <tr>
            <td>
              <%= form_tag :action => 'rerating', :step => 3, :s_user_id => @user_id, :billsec => @billsec, :pprice => @provider_price, :price => @user_price, :rprice => @reseller_price , :ghost_time => params[:ghost_time], :rerating_ghost_time_multiplier => params[:rerating_ghost_time_multiplier] do %>
                  <%= submit_tag _('Rerate'), data: { disable_with: _('Processing..') } %>
              <% end %>
            </td>
          </tr>

          <br/>
      <% end %>
      <tr>
        <td>
          <br/><%= link_to b_back + _('Back'), :action => "rerating", :step => 1, :ghost_time => params[:ghost_time],
                                                                      reseller_users_included: params[:reseller_users_included] %>
        </td>
      </tr>
    </table>



<% end %>



<% if @step == 3 %>

    <table width="100%" class="nb">
      <tr>
        <td colspan=2>
          <b><%= b_user + _('user') %>:</b>
          <% if @user_id == -1 %>
              <%= _('All_Users') %> (<%= @total_users %>)
          <% else %>
              <%= nice_user(@users.first) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan=2>
          <b><%= b_date + _('Time_period') %>:</b> <%= session_from_datetime %> - <%= session_till_datetime %>
        </td>
      </tr>

      <tr>
        <td colspan=2>
          <b><%= b_testing + _('Testing_mode') %>
            :</b> <%= b_check if session[:rerating_testing].to_i == 1 %><%= b_cross if session[:rerating_testing].to_i == 0 %>
        </td>
      </tr>

      <tr>
        <td>

          <b><%= b_call + _('Total_calls') %>:</b> <%= @total_calls %>
        </td>

        <td align="right">
          <% if @total_calls > 0 and @user_id != -1 and session[:rerating_testing].to_i == 0 %>
              <%= link_to b_pdf + _('Export_to_PDF'), :controller => "stats", :action => "call_list_to_pdf", :id => @user.id, :date_from => session_from_datetime, :date_till => session_till_datetime, :call_type => "answered" %>
              &nbsp;
              <%= link_to b_csv + _('Export_to_CSV'), :controller => "stats", :action => "call_list_to_csv", :id => @user.id, :date_from => session_from_datetime, :date_till => session_till_datetime, :call_type => "answered" %>
          <% end %>

        </td>
      </tr>

      <tr>
        <td height=5></td>
      </tr>

      <% if @total_calls > 0 %>
          <tr>
            <td>
              <table width="80%" class="maintable">
                <tr>
                  <th></th>
                  <th align="center">  <%= _('Prior_rerating') %>     </th>
                  <th align="center">  <%= _('After_rerating') %>     </th>
                  <th align="center">  <%= _('Difference') %>     </th>
                </tr>
                <tr class="row1">
                  <td><b><%= _('Total_time') %>:</b></td>
                  <td id="old_billsec" align="center"> <%= nice_time_with_zeros(@old_billsec) %>        </td>
                  <td id="new_billsec" align="center"> <%= nice_time_with_zeros(@billsec) %>        </td>
                  <% if @old_billsec > @billsec %>
                     <td align="center">-<%= nice_time_with_zeros(@old_billsec - @billsec) %></td>
                  <% else %>
                     <td align="center"><%= nice_time_with_zeros(@billsec - @old_billsec) %></td>
                  <% end %>
                <tr>
                  <td><b><%= _('Total_provider_price') %>:</b></td>
                  <td id="old_pp" align="center"><%= nice_number @old_provider_price %>        </td>
                  <td id="new_pp" align="center"><%= nice_number @provider_price %>        </td>
                  <td id="diff_pp" align="center"><%= nice_number(@provider_price - @old_provider_price) %>        </td>
                </tr>
                <tr>
                  <td><b><%= _('Total_reseller_price') %>:</b></td>
                  <td id="old_res" align="center"><%= nice_number @old_reseller_price %>        </td>
                  <td id="new_res" align="center"><%= nice_number @reseller_price %>        </td>
                  <td id="diff_res" align="center"><%= nice_number(@reseller_price - @old_reseller_price) %>        </td>
                </tr>
                <tr class="row1">
                  <td><b><%= _('Total_user_price') %>:</b></td>
                  <td id="old_up" align="center"><%= nice_number @old_user_price %>        </td>
                  <td id="new_up" align="center"><%= nice_number @user_price %>        </td>
                  <td id="diff_up" align="center"><%= nice_number(@user_price-@old_user_price) %>        </td>
                </tr>
              </table>
            </td>
          </tr>
      <% end %>
    </table>

    <br/><%= link_to b_back + _('Back'), :action => "rerating", :step => 1, :ghost_time => params[:ghost_time] %>

<% end %>
