<%= javascript_include_tag "wz_tooltip" %>
<table>
  <tr>
    <td><b><%= _('Name') %></b>: <%= @service.name %></td>
  </tr>
</table>
<br/>
<br/>

<% @diff_directions.each { |dir| %>
    <% direction = Direction.where("code = ?", dir).first %>
    <table width="100%" class="maintable">
      <tr>
        <th colspan="4"><%= draw_flag(direction.code) %> <%= direction.name %></th>
        <th><%= _('Active_Destinations') %>:</th>
        <th id="show_destinations_<%= dir %>" align="center"><%= link_to b_view, {:action => 'destination_prefixes', :id => @service.id, :direction => dir}, :onclick => "window.open(this.href,'new_window','scrollbars=1,status=0,menubar=0,resizable=1,width=500,height=600');return false;", :id => "show_destinations_link_" +dir %></th>
      </tr>
      <tr>
        <th><%= _('Name') %></th>
        <th align="right"><%= _('Prefix') %></th>
        <th><%= _('Destination') %></th>
        <th><%= _('Included') %>?</th>
        <th></th>
      </tr>
      <% @flatrate_destinations.each_with_index { |flatrate_destination, i| %>
          <% destination = flatrate_destination.destination %>
          <% if destination.direction_code == dir %>
              <tr class="row<%= (i % 2 + 1).to_s %>">
                <td id="dir_name_<%= i %>"><%= draw_flag(direction.code) %> <%= direction.name %></td>
                <td id="dest_prefix_<%= i %>" align="right"><%= destination.prefix %></td>
                <td id="dest_name_<%= i %>" align="left"><%= destination.name %></td>
                <td id="flat_dest_active_<%= i %>" align="left"><%= flatrate_destination.active == 1 ? _('Included') : _('Excluded') %></td>
                <td id="dest_delete_<%= i %>" align="center"><%= link_to b_delete, {:action => 'destination_destroy', :id => @service.id, :destination_id => flatrate_destination}, data: {confirm: _('are_you_sure')}, :method => :post %></td>
              </tr>
          <% end %>
      <% } %>
    </table>
    <br/>
    <br/>
<% } %>

<%= link_to_function(b_add + _('Add_new_destinations'), "Element.toggle('new_destination')") %>

<div id="new_destination" <%= raw "style='display:none;'" if @flatrate_destinations.size != 0 %>>
  <br/>

  <table>
    <%= form_tag(:action => 'destination_add', :id => @service.id, :submit_icon => "prefix_find") do %>
        <tr>
          <td><%= _('Prefix') %> :
            <%= text_field_tag :search_1, "", :class => "input" %>
            <script type="text/javascript">
              new Form.Element.Observer('search_1', 0.5, function(element, value) {new Ajax.Updater('results', '<%= Web_Dir %>/services/destination_prefix_find/<%= @service.id %>', {asynchronous:false, evalScripts:true, onComplete:function(request){Element.hide('spinner');}, onLoading:function(request){Element.show('spinner');}, parameters:'direction=' + encodeURIComponent(value) + '&find_by=prefix'})})
            </script>
          </td>
          <td>
            <div id="results"></div>
          </td>
          <td>
            <%= select_tag("enabled_1", options_for_select(@enabled_labels)) %>
          </td>
          <td>
            <%= image_submit_tag 'icons/check.png', :title => _('Add'), :id => "prefix_find_submit" %>
          </td>
        </tr>
    <% end %>
    <%= form_tag(:action => 'destination_add', :id => @service.id, :submit_icon => "country_find") do %>
        <tr>
          <td> <%= _('Country') %> :
            <%= select_tag("direction", options_for_select(@directions.map { |dir| [dir.name, dir.code] })) %>
            <script type="text/javascript">
              new Form.Element.EventObserver('direction', function(element, value) {new Ajax.Updater('pre', '<%= Web_Dir %>/services/destination_prefix_find/<%= @service.id %>', {asynchronous:false, evalScripts:true, onComplete:function(request){Element.hide('spinner');}, onLoading:function(request){Element.show('spinner');}, parameters:'direction=' + encodeURIComponent(value) + '&find_by=direction'})})
            </script>
          </td>
          <td>
            <%= _('Prefix') %> :
            <%= select_tag("pre", options_for_select(@destinations.map { |d| ["#{d.prefix.to_s} - #{d.name}", d.prefix] })) %>
          </td>
          <td>
            <%= select_tag("enabled", options_for_select(@enabled_labels)) %>
          </td>
          <td>
            <%= image_submit_tag 'icons/check.png', :title => _('Add'), :id => "country_find_submit" %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
