<div class="nb"><%= b_user + "#{_('user')}" %>: <%= link_nice_user(@user) %></div>
<br>
<%= form_tag action: :subscription_create, id: @user.id, added: Time.now do %>
    <table class="simple">
      <tr>
        <td><%= _('Service') %>:</td>
        <td>
          <select name="subscription[service_id]" id="subscription_service_id">
            <% @services.each do |service| %>
                <option type="<%= service.servicetype.to_s %>" value=<%= service.id %> <%= 'selected' if service.id == @sub.service_id %>>
                  <%= service.name %>, <%= _('Price') %>: <%= nice_number(service.price) %>
                </option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td><%= _('Memo') %>:</td>
        <td><%= text_field_tag 'subscription[memo]', @sub.memo, class: 'input', size: 50, maxlength: 150, id: 'subscription_memo' %></td>
      </tr>
      <tr>
        <td><%= _('Date') %>:</td>
        <td><%= nice_date_time Time.now.to_s(:db) %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= b_info + "#{_('Activation_start')} and #{_('Activation_end')} #{_('values_in_system_time_zone')}: #{nice_system_time_string}" %>
        </td>
      </tr>
      <tr>
        <td><%= _('Activation_start') %>:</td>
        <td>
          <%= select_datetime(@sub.activation_start, end_year: Time.zone.now.year + 10, prefix: 'activation_start', use_month_numbers: false) %>
        </td>
      </tr>
      <tr id="activation_end">
        <td><%= _('Activation_end') %>:</td>
        <td>
          <%= select_datetime(@sub.activation_end, end_year: Time.zone.now.year + 10, prefix: 'activation_end', use_month_numbers: false) %>
          <%= check_box_tag 'until_canceled', 1, @sub.activation_end.blank? %> <%= "#{_('until_canceled')}?" %>
        </td>
      </tr>
      <tr id="no_expire_checkbox">
        <td><%= _('subscription_no_expire') %>:</td>
        <td><%= check_box_tag 'no_expire', 1, @sub.no_expire == 1 %></td>
      </tr>
      <%= hidden_field_tag 'subscription[added]', Time.now, {id: 'subscription_added'} %>
    </table>
    <br/>
    <%= submit_tag _('Create'), data: {disable_with: _('Processing..')} %>
<% end %>

<script type="text/javascript">
    prepare_params();

    $j('#subscription_service_id').change(prepare_params);
    $j('#until_canceled').change(prepare_params);

    function prepare_params() {
        var servicetype = $j('#subscription_service_id :selected').attr('type');
        var checkbox_value = $('until_canceled').checked;

        show_by_servicetype(servicetype, checkbox_value);
    }

    function show_by_servicetype(servicetype, no_expiration) {
        switch(servicetype) {
            case 'one_time_fee':
                $('no_expire_checkbox').style.visibility = 'hidden';
                $('activation_end').hide();

                $('activation_start_year').enable();
                $('activation_start_month').enable();
                $('activation_start_day').enable();
                $('activation_start_hour').enable();
                $('activation_start_minute').enable();

                $('activation_end_year').disable();
                $('activation_end_month').disable();
                $('activation_end_day').disable();
                $('activation_end_hour').disable();
                $('activation_end_minute').disable();

                break;
            case 'periodic_fee':
                $('no_expire_checkbox').style.visibility = 'hidden';
                $('activation_end').show();

                $('activation_start_year').enable();
                $('activation_start_month').enable();
                $('activation_start_day').enable();
                $('activation_start_hour').enable();
                $('activation_start_minute').enable();

                if (no_expiration == true) {
                    $('activation_end_year').disable();
                    $('activation_end_month').disable();
                    $('activation_end_day').disable();
                    $('activation_end_hour').disable();
                    $('activation_end_minute').disable();
                } else {
                    $('activation_end_year').enable();
                    $('activation_end_month').enable();
                    $('activation_end_day').enable();
                    $('activation_end_hour').enable();
                    $('activation_end_minute').enable();
                }

                break;
            case 'flat_rate':
                $('no_expire_checkbox').style.visibility = 'visible';
                $('activation_end').show();

                $('activation_start_year').enable();
                $('activation_start_month').enable();
                $('activation_start_day').disable();
                $('activation_start_hour').disable();
                $('activation_start_minute').disable();

                if (no_expiration == true) {
                    $('activation_end_year').disable();
                    $('activation_end_month').disable();
                    $('activation_end_day').disable();
                    $('activation_end_hour').disable();
                    $('activation_end_minute').disable();
                } else {
                    $('activation_end_year').enable();
                    $('activation_end_month').enable();
                    $('activation_end_day').disable();
                    $('activation_end_hour').disable();
                    $('activation_end_minute').disable();
                }

                break;
            case 'dynamic_flat_rate':
                $('no_expire_checkbox').style.visibility = 'visible';
                $('activation_end').show();

                $('activation_start_year').enable();
                $('activation_start_month').enable();
                $('activation_start_day').enable();
                $('activation_start_hour').disable();
                $('activation_start_minute').disable();

                if (no_expiration == true) {
                    $('activation_end_year').disable();
                    $('activation_end_month').disable();
                    $('activation_end_day').disable();
                    $('activation_end_hour').disable();
                    $('activation_end_minute').disable();
                } else {
                    $('activation_end_year').enable();
                    $('activation_end_month').enable();
                    $('activation_end_day').disable();
                    $('activation_end_hour').disable();
                    $('activation_end_minute').disable();
                }

                break;
            default:
                $('no_expire_checkbox').style.visibility = 'hidden';
                $('activation_end').show();

                $('activation_start_year').enable();
                $('activation_start_month').enable();
                $('activation_start_day').enable();
                $('activation_start_hour').enable();
                $('activation_start_minute').enable();

                if (no_expiration == true) {
                    $('activation_end_year').disable();
                    $('activation_end_month').disable();
                    $('activation_end_day').disable();
                    $('activation_end_hour').disable();
                    $('activation_end_minute').disable();
                } else {
                    $('activation_end_year').enable();
                    $('activation_end_month').enable();
                    $('activation_end_day').enable();
                    $('activation_end_hour').enable();
                    $('activation_end_minute').enable();
                }
        }
    }
</script>
