<%= page_select_header(@options[:page], @total_pages, @options) if @total_pages > 1 %>
<br />
<table width=100% class="maintable" valign="middle" align="center">
    <tr>
		<th align="left"><%= nice_list_order('user_id',_('User'), @options) %></th>
		<th align="left"><%= nice_list_order('task_id',_('Task'), @options) %></th>
		<th align="center"><%= nice_list_order('status',_('Status'), @options) %></th>
		<th align="center"><%= nice_list_order('percent_completed',_('Completed_percent'), @options) %></th>
		<th align="center"><%= nice_list_order('created_at',_('Created_at'), @options) %></th>
		<th align="center"><%= nice_list_order('updated_at',_('Updated_at'), @options) %></th>
		<th align="center"><%= nice_list_order('expected_to_finish_at',_('Expected_to_finish_at'), @options) %></th>
		<th align="center"><%= nice_list_order('finished_at',_('Finished_at'), @options) %></th>
		<th align="center"> </th>
	    <th> </th>
    </tr>
	<% @tasks.each_with_index do |task, i| %>
	    <tr class="row<%= i%2+1 %>" align="center" height='25px'>
			<td align="left" id="user_<%= task.id %>"><%= background_tasks_user(task) %></td>
			<td align="left" id="task_<%= task.id %>"><%= @nice_task[task] %></td>
			<td align="center" id="status_<%= task.id %>"><%= task.status %></td>
			<td align="center" id="percent_<%= task.id %>"><%= task.percent_completed %></td>
			<td align="center" id="created_<%= task.id %>"><%= nice_date_time task.created_at %></td>
			<td align="center" id="updated_<%= task.id %>"><%= nice_date_time task.updated_at %></td>
			<td align="center" id="expected_<%= task.id %>"><%= nice_date_time task.expected_to_finish_at %></td>
			<td align="center" id="finish_<%= task.id %>"><%= nice_date_time task.finished_at %></td>
			<td align="center" id="delete_<%= task.id %>" width="25">
				<%= link_to(b_delete, {action: 'task_delete', id: task.id, params: @options}, id: "delete_link_#{task.id}", data: {confirm: _('Are_you_sure')}, method: 'post') if @show_delete.call(task) %>
			</td>
			<td align="center" id="restart_<%= task.id %>" width="25">
			  <%= link_to(b_refresh, {action: 'task_restart', id: task.id, params: @options}, id: "restart_link_#{task.id}") if @show_restart.call(task) %>
			</td>
		</tr>
	<% end %>
</table>
<br /> <br />
<%= page_select_header(@options[:page], @total_pages, @options) if @total_pages > 1 %>

