<br>

<%= raw b_info + _('Server_notice').html_safe %>

<br><br>
<%= form_tag :action => 'server_add' do %>
    <table width="100%" class="maintable">
      <tr>
        <th align="center"><%= _('Active') %>?</th>
        <th align="center"><%= _('Test') %></th>
        <th align="left"><%= _('ID') %></th>
        <th align="left"><%= _('Hostname_for_SIP') %></th>
        <th align="left"><%= _('Server_IP_for_SIP') %></th>
        <th align="left"><%= _('Server_IP_for_AMI') %></th>
        <!--<th align="left"><%= _('Url') %></th> -->
        <th align="left"><%= _('Type') %></th>
        <th align="left"><%= _('Version') %></th>
        <% unless @has_proxy %>
          <th align="left"><%= _('Uptime') %></th>
        <% end %>
        <th align="right"><%= _('Max_call_limit') %></th>
        <!---<th align="left"><%= _('AMI_Username') %></th>
        <th align="left"><%= _('AMI_Secret') %></th>
        <th align="right"><%= _('SIP_Port') %></th> -->
        <th align="left"><%= _('Comment') %></th>
        <th align="center"><%= _('GUI') %></th>
        <th align="center"><%= _('DB') %></th>
        <th align="center"><%= _('Core') %></th>
        <th align="center"><%= _('Stats') %></th>
        <th align="right"><%= _('Free_Space') %>&nbsp;%</th>
        <th align="center"><%= _('Providers') %></th>
        <% if ccl_active? %>
          <th align="center"><%= _('Devices') %></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
      <% @servers.each_with_index { |serv, index| %>
          <tr class="row<%= (index % 2 + 1).to_s %>">
            <td id="active_<%= serv.id %>" align="center">
              <% if serv.server_type == 'sip_proxy'%>
                <%= b_check(:title => _('Enabled')) %>
              <% else %>
                <%= link_to(b_check(:title => _('Disable')), {:action => 'server_change_status', :id => serv.id}, {:method => :post}) if serv.active == 1 %>
                <%= link_to(b_cross(:title => _('Enable')), {:action => 'server_change_status', :id => serv.id}, {:method => :post}) if serv.active == 0 %>
              <% end %>
            </td>
            <td id="test_<%= serv.id %>" align="center">
              <% if (serv.try(:core).to_i == 1) and serv.server_type != 'sip_proxy' %>
                <%= link_to b_test, {:action => "server_test", :id => serv.id}, :onclick => "window.open(this.href,'new_window','height=200,width=400');return false;" %>
              <% end %>
            </td>
            <td id="server_id_<%= serv.id %>"><%= h serv.id %></td>
            <td id="hostname_<%= serv.id %>"><%= h serv.hostname %></td>
            <td id="ip_for_s_<%= serv.id %>"><%= h serv.ipaddr %></td>
            <td id="ip_<%= serv.id %>"><%= h serv.server_ip if serv.server_type == 'asterisk'%></td>
            <td id="type_<%= serv.id %>"><%= h serv.server_type %></td>
            <td id="version_<%= serv.id %>" align="left"><%= h serv.version.to_s %></td>
            <% unless @has_proxy %>
              <td id="uptime_<%= serv.id %>" align="left"><%= h serv.uptime.to_s %></td>
            <%end %>
            <td id="max_call_<%= serv.id %>" align="right"><%= h serv.maxcalllimit %></td>
            <!--<td id="ami_username_<%= serv.id %>" align="left"><%#= h serv.ami_username %></td>
            <td id="ami_pass_<%= serv.id %>" align="left"><%#= h serv.ami_secret %></td>
            <td id="port_<%= serv.id %>" align="right"><%#= h serv.port %></td> -->
            <td id="comment_<%= serv.id %>" align="left"><%= h serv.comment %></td>
            <td id="gui_<%= serv.id %>" align="center">
              <%= link_to(b_check(:title => _('Disable')), :action => 'server_change_gui', :id => serv.id) if serv.gui == 1 %>
              <%= link_to(b_cross(:title => _('Enable')), :action => 'server_change_gui', :id => serv.id) if serv.gui == 0 %>
            </td>
            <td id="db_<%= serv.id %>" align="center">
              <%= link_to(b_check(:title => _('Disable')), :action => 'server_change_db', :id => serv.id) if serv.db == 1 %>
              <%= link_to(b_cross(:title => _('Enable')), :action => 'server_change_db', :id => serv.id) if serv.db == 0 %>
            </td>
            <td id="core_<%= serv.id %>" align="center">
              <% unless serv.server_type.to_sym == :other %>
                  <%= link_to(b_check(:title => _('Disable')), :action => 'server_change_core', :id => serv.id) if serv.core == 1 %>
                  <%= link_to(b_cross(:title => _('Enable')), :action => 'server_change_core', :id => serv.id) if serv.core == 0 %>
              <% end %>
            </td>
            <% if (serv.server_type != 'sip_proxy') %>
	          <td id="stats_<%= serv.id %>" align="center" <%= tooltip(_('server_load_stats'), server_load(serv)) %>>
                <%= link_to(b_chart_bar(:title => _('Stats')), action: 'server_load', controller: 'stats', id: serv.id) %></td>
            <% else %>
              <td id="stats_<%= serv.id %>" align="center" ></td>
            <% end %>
            <td id="free_space_<%= serv.id %>" align="right" <%= free_space_style(serv.hdd_free_space) %>><%= serv.hdd_free_space %></td>
            <% if serv.server_type == 'asterisk' %>
              <td id="providers_<%= serv.id %>" align="center"><%= link_to b_provider + "(" + serv.providers.size.to_s + ")", {:action => 'server_providers', :id => serv.id}, {:id => "providers_link_#{serv.id}"} %></td>
            <% else %>
              <td id="providers_<%= serv.id %>"></td>
            <% end %>
            <% if ccl_active? && serv.server_type != 'other' %>
              <td id="devices_<%= serv.id %>" align="center"><%= link_to b_device + "(" + serv.devices.size.to_s + ")", {:action => 'server_devices_list', :id => serv.id} %></td>
            <% elsif ccl_active? && serv.server_type == 'other' %>
              <td id="devices_<%= serv.id %>"></td>
            <% end %>
            <td id="edit_<%= serv.id %>" align="center"><%= link_to b_edit, {:action => 'edit', :id => serv.id}, {:id => "edit_link_#{serv.id}"} %></td>
            <td id="delete_<%= serv.id %>" align="center"><%= link_to b_delete, {:action => 'destroy', :id => serv.id}, {data: {confirm: _('are_you_sure')}, :method => :post, :id => "delete_link_#{serv.id}"} unless serv.server_type == 'sip_proxy' %></td>
          </tr>
      <% } %>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th align="left"><%= text_field_tag 'server_hostname', '', class: 'input', size: 17, maxlength: 20 %></th>
        <th align="left"><%= text_field_tag 'server_ip', '', class: 'input', size: 17, maxlength: 30 %></th>
        <th align="left"><%= text_field_tag 'server_ip_for_ami', '', class: 'input', size: 17, maxlength: 30 %></th>
        <th align="left">
          <%= select_tag('server_type', options_for_select(%w[asterisk other], 'asterisk'), onchange: 'disableAmi()') %>
        </th>
        <th align="left"><%= text_field_tag 'version', "", "class" => "input", :size => "5", :maxlength => "30"  %></th>
        <% unless @has_proxy %>
          <th align="left"><%= text_field_tag 'uptime', "", "class" => "input", :size => "5", :maxlength => "50"  %></th>
        <% end %>
        <th align="right"><%= text_field_tag 'server_maxcalllimit', "", "class" => "input", :size => "5", :maxlength => "10"  %></th>
        <th align="left"><%= text_field_tag 'server_comment', "", "class" => "input", :size => "15", :maxlength => "30"  %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% if ccl_active? %>
          <th></th>
        <% end %>
        <th></th>
        <th></th>
        <th align="center" colspan=3><%= image_submit_tag 'icons/add.png', :title => _('Add') %></th>
      </tr>
    </table>
    <script type="text/javascript">
        function disableAmi(){
          if ($('server_type').value == 'asterisk') {
            $('server_ip_for_ami').disabled = false;
          } else {
            $('server_ip_for_ami').disabled = true;
          }
        }
    </script>
<% end %>