<% if @tariff.purpose == 'user' %>
    <% if Confline.get_value('Show_Advanced_Rates_For_Users', @user.owner_id).to_i == 1 || @common_use_provider.present?%>
        <%= render 'user_rates_retail_detailed',
        local_variables_for_partial(self).merge({st: @st, common_use_provider: @common_use_provider,
            tariff: @tariff, s_prefix: @s_prefix, letters_to_bold: @letters_to_bold}) %>
    <% else %>
        <%= render 'user_rates_retail',
        local_variables_for_partial(self).merge({st: @st, tariff: @tariff, s_prefix: @s_prefix,
            letters_to_bold: @letters_to_bold}) %>
    <% end %>
<% else %>
    <% if @tariff.purpose == "user_wholesale" %>
        <%= b_currency + _('Currency') %>: <b><%= session[:show_currency] %></b>
        <br/>
        <%= render 'search_header_user_rates',
        local_variables_for_partial(self).merge({tariff: @tariff, s_prefix: @s_prefix, no_shift: false}) %>
        <%= link_to b_csv + _('Export_to_CSV'), action: 'generate_personal_wholesale_rates_csv', id: @tariff.id, common_use_provider: @common_use_provider %>
        <br/>
        <br/>
        <%= render 'letter_select_header', local_variables_for_partial(self).merge(letters_to_bold: @letters_to_bold) %>
        <br/>
        <% if @total_pages > 1 %>
            <%= page_select_header(@page, @total_pages, {st: @st}) %>
        <% end %>
        <table width="100%" class="maintable">
          <tr>
            <th align="left"><%= _('Name') %></th>
            <th align="left"><%= _('Prefix') %></th>
            <th align="center"><%= _('Rate') %> </th>
            <th align="center"><%= _('Connection_Fee') %></th>
            <th align="center"><%= _('Increment') %> </th>
            <th align="center"><%= _('Start_Time') %> </th>
            <th align="center"><%= _('End_Time') %> </th>
            <th align="center"><%= _('Day_type') %> </th>
          </tr>
          <% if @ratesd && @ratesd.size.to_i > 0 %>
              <% @ratesd.each_with_index { |rate, i| %>
                  <tr class="row<%= (i % 2 + 1).to_s %>" id="rate_<%= rate.rate_id %>">
                    <td><%= rate.name %></td>
                    <td><%= rate.prefix %></td>
                    <td align="center" id="e_rate_<%= rate.rate_id %>"><%= nice_number rate.erate %></td>
                    <td align="center" id="c_fee_<%= rate.rate_id %>"><%= nice_number rate.conee %></td>
                    <td align="center" id="inc_<%= rate.rate_id %>"><%= rate.increment_s %></td>
                    <td align="center" id="start_<%= rate.rate_id %>"><%= nice_time2(rate.start_time) %></td>
                    <td align="center" id="end_<%= rate.rate_id %>"><%= nice_time2(rate.end_time) %></td>
                    <td align="center" id="daytype_<%= rate.rate_id %>"><%= rate.daytype %></td>
                  </tr>
              <% } %>
          <% end %>
        </table>
        <br/>

        <% if @total_pages > 1 %>
            <%= page_select_header(@page, @total_pages, {:st => @st}) %>
        <% end %>

        <%= render 'letter_select_header', local_variables_for_partial(self).merge(letters_to_bold: @letters_to_bold) %>
        <br/>
    <% else %>
        <%= link_to b_csv + _('Export_to_CSV'), :action => "generate_personal_wholesale_rates_csv" %>
    <% end %>
<% end %>
