<div class="catalogentry">
  <%= image_tag "/images/cards/#{@cg.image}", style: 'border-style:none', title: @cg.name, size: '150x100' %>

  <h3><%= h @cg.name %></h3>
  <%= @cg.description %>
  <br/><br/>
  <%= _('Balance') %>: <span class="catalogprice"><%= nice_number(@cg.get_tax.apply_tax(@card.balance)) %></span>
  <br/><br/><br/>
  <%= _('First_use') %>: <%= nice_date_time @card.first_use %>
  <br/><br/>
</div>