<% if admin? %>
    <table id="servers_uptime" class="nb" width="50%">
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <th class="bottom_border" align="left" colspan="2" nowrap="true"><%= _('Technical_Info') %>:</th>
      </tr>
      <% @servers.each_with_index do |server, index| %>
          <tr <%= tooltip(_('Server_information'), server[:tooltip_description]) %>>
            <td nowrap="true" width="60%"><%= "#{_('System_Uptime')} - #{server[:id]}" %></td>
            <td id="server_<%= index %>" nowrap="true"><%= server[:uptime] %></td>
          </tr>
            <% if server[:core_uptime].present? %>
              <tr>
                <td nowrap="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= _('Core_Uptime') %>:</td>
                <td id="server_core_<%= index %>" nowrap="true"><%= server[:core_uptime] %></td>
              </tr>
            <% end %>
      <% end %>
      <tr <%= tooltip(_('Elasticsearch_Sync_Status'), @es_sync[:tooltip]) %>>
        <% es_status_color = if @es_sync[:status] == '-' || @es_sync[:status] <= 90
                               'red'
                             elsif @es_sync[:status] < 95
                               'orange'
                             else
                               'green'
                             end
        %>
        <td nowrap="true" width="60%"><%= _('ES_Sync_Status') %>:</td>
        <td id="es_sync_status" nowrap="true" style="color: <%= es_status_color %>;"><%= @es_sync[:status] %>&nbsp;%</td>
      </tr>
    </table>
<% end %>
