<%= render 'timezone_notice' %>
<%= form_tag :action => 'generate_invoices_status' do %>
    <%= _('Please_select_period_to_generate_invoices') %>:
    <br/>
    <br/>
    <%= _('From') %>: <%= select_date(Time.mktime(session[:year_from], session[:month_from], session[:day_from]), :end_year => Date.today.year+1, :prefix => "date_from") %>
    &nbsp;&nbsp;<%= _('To') %>: <%= select_date(Time.mktime(session[:year_till], session[:month_till], session[:day_till]), :end_year => Date.today.year+1, :prefix => "date_till") %>
    <br/>
    <br/>
    <%= _('Issue_date') %>: <%= select_date(Time.now(), :end_year => Date.today.year+1, :prefix => "date_issue") %>
    <br/>
    <br/>
    <%= _('currency') %>: <%= select_tag(:currency, options_for_select(@options[:currencies], @options[:default_currency]) ) %>
    <br/>
    <br/>
    <table>
      <tr>
        <td onclick="hideSubmitButton()"><%= radio_button "invoice", "type", "postpaid", checked: (@type == 'postpaid') %></td>
        <td><%= _('Postpaid') %></td>
        <td></td>
      </tr>
      <tr>
        <td onclick="hideSubmitButton()"><%= radio_button "invoice", "type", "prepaid", checked: (@type == 'prepaid') %></td>
        <td><%= _('Prepaid') %></td>
        <td></td>
      </tr>
      <tr>
        <td onclick="hideSubmitButton()"><%= radio_button "invoice", "type", "user", checked: (@type == 'user') %></td>
        <td><%= _("User") %></td>
        <td><%= render 'shared/live_search_field', object: @search_user, object_id: '-2', object_name: 'User', action_url: {controller: :users, action: :get_users_map, options: {show_admin: true} } %></td>
        <td id="user_not_selected_info" style="display: none">
          <%= b_exclamation + _('Please_select_User') %>
        </td>
      </tr>
    </table>
    <br/>
    <%= submit_tag _('Generate'), :onclick => "return confirm('#{_('Are_you_sure')}');new Ajax.Updater('', '#{Web_Dir}/accounting/change_session_flag', Element.toggle('spinner'), Element.toggle('spinner2'));",
                   data: {confirm: _('are_you_sure')}, :method => :post, data: { disable_with: _('Processing..') }, id: 'submit' %>
<% end %>

<script type="text/javascript">
  new Form.Element.EventObserver('s_user', hideSubmitButton);

  function hideSubmitButton(){
    var user_id = $("s_user_id");
    if(user_id.value === '-2' && $('invoice_type_user').checked){
      $('submit').disabled = true;
      $('user_not_selected_info').show();
    } else {
      $('submit').disabled = false;
      $('user_not_selected_info').hide();
    }
  }
</script>
