<% if payment.paymenttype == 'manual' or payment.paymenttype == 'Card' %>
    <div id="payment_com_<%= payment.id %>">
      <div id="payment_comment_link_<%= payment.id %>" title="<%= payment.comments_for_user %>">
        <%=truncate(payment.comments_for_user)%>
        <%= link_to_function(b_comment_edit(to_utf(payment.comments_for_user)), "Element.toggle('payment_comment_#{payment.id}');Element.toggle('payment_comment_link_#{payment.id}');") %>
      </div>
      <div id="payment_comment_<%= payment.id %>" style='display:none;'>
      <span style="float: left;">
        <%= text_area_tag 'payment_comment', to_utf(payment.comments_for_user), :cols => 60, :rows => 6, :id => "payment_comment_tag_#{payment.id}" %>
      </span>
      <br>
      <span style="float: left;">
        <%= submit_tag _('ok'), :name => "ok_#{payment.id}", :onclick => "new Ajax.Updater('payment_com_#{payment.id}', '#{Web_Dir}/payments/change_comment/#{payment.id.to_s}', {asynchronous:false, evalScripts:true, onComplete:function(request){Element.hide('spinner');Element.toggle('payment_comment_#{payment.id}');Element.toggle('payment_comment_link_#{payment.id}');}, onLoading:function(request){Element.show('spinner');}, parameters:'comment=' + encodeURIComponent($('payment_comment_tag_#{payment.id}').value)})" %>
      </span>
      <span style="float: left;">
        <%= link_to_function _('cancel'), "Element.toggle('payment_comment_#{payment.id}');Element.toggle('payment_comment_link_#{payment.id}');" %>
      </span>
      </div>
    </div>
<% end %>
