<table class='maintable'>
  <tr>
    <% if @sounds.size > 0 %>
        <th>
        </th>
    <% end %>
    <% for voice in @voices do %>
        <th><%= voice.voice %></th>
    <% end %>
  </tr>

  <% @sounds.each_with_index { |sound, index| %>
      <tr class="row<%= index%2+1 %>">
        <th><%= sound['path'] %>:</th>
        <% @voices.each do |voice| %>
            <td align="center">
              <% if IvrSoundFile.where(path: sound['path'], ivr_voice_id: voice.id).first %>
                  <%= b_check %>
              <% else %>
                  <%= b_cross %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% } %>
</table>
