<div id="card_group"><b><%= _('Card_group') %></b>: <%= @cg.name %></div>
<br/>
<div id="cards"><b><%= _('Cards') %></b>: <%= @cards_all.to_i %></div>
<br/>
<div id="first_use"><b><%= _('First_use') %></b>: <%= @cards_first_used.to_i %></div>
<br/><br/>

<%= form_tag :action => params[:action], :cg => @cg.id do %>
  <table id="search_details" class="simple bordered">
    <tr>
      <td>
        <%= _('Number') %>:
      </td>
      <td>
        <%= text_field_tag 's_number', @options[:s_number], :size => "15" %>
      </td>
      <td>
        <%= _('Name') %>:
      </td>
      <td>
        <%= text_field_tag 's_name', @options[:s_name], :size => "15" %>
      </td>
      <td style='min-width: 100px'>
        <% if @search %>
          <%= link_to b_cross + _('Clear_search'), :action => 'user_list', :cg => @cg.id, :clean => 1 %>
        <% end %>
      </td>
    </tr>
    <tr>
      <% if @show_pins %>
        <td>
          <%= _('PIN') %>:
        </td>
        <td>
          <%= text_field_tag 's_pin', @options[:s_pin], :size => "15" %>
        </td>
      <% end %>
      <td>
        <%= _('batch_number')%>:
      </td>
      <td>
        <%= text_field_tag 's_batch_number', @options[:s_batch_number], :size => '15', :maxlength => '255' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= _('Balance_between') %>:
      </td>
      <td>
        <%= text_field_tag 's_balance_min', @options[:s_balance_min], :size => "7", :maxlength => "10" %> -
        <%= text_field_tag 's_balance_max', @options[:s_balance_max], :size => "7", :maxlength => "10" %>
      </td>
      <td>
        <%= _('Active') %>?:
      </td>
      <td>
        <select name="s_active">
          <option value="all" selected> <%= _('All') %> </option>
          <option value="yes" <%= "selected" if @options[:s_active] == "yes" %>> <%= _('_Yes') %> </option>
          <option value="no" <%= "selected" if @options[:s_active] == "no" %>> <%= _('_No') %> </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <%= _('Language') %>:
      </td>
      <td>
        <%= text_field_tag 's_language', @options[:s_language], :size => "15", :maxlength => "10" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag _('Search'), data: { disable_with: _('Processing..') } %>
      </td>
    </tr>
  </table>
<% end %>

<br/>

<table width="100%">
  <tr>
    <td>
      <%= link_to b_groups + _('Bulk_management'), :action => 'bullk_for_activate', :cg => @cg.id %>
    </td>
  </tr>
</table>

<br/>

<%= raw page_select_header(@options[:page], @total_pages, @options) %>

<table class="maintable" width="100%">
  <tr>
    <th align="left"><%= nice_list_order('card_number', _('Number'), @options, {:cg => @cg.id}) %></th>
    <th align="left"><%= nice_list_order('card_name', _('Name'), @options, {:cg => @cg.id}) %></th>
    <% if @show_pins %>
      <th align="left"><%= nice_list_order("card_pin", _('PIN'), @options, {:cg => @cg.id}) %></th>
    <% end %>
    <th align="left"><%= nice_list_order('card_batch_number', _('batch_number'), @options, {:cg => @cg.id}) %></th>
    <th align="right"><%= nice_list_order('card_balance', _('Balance') + " (#{_('Without_VAT')}) ", @options, {:cg => @cg.id}) %><%= current_user.currency.name %></th>
    <th align="center"><%= nice_list_order('card_first_use', _('First_use'), @options, {:cg => @cg.id}) %></th>
    <th align="center"><%= nice_list_order('card_active', _('Activate_Deactivate'), @options, {:cg => @cg.id}) %></th>
    <th align="center"><%= nice_list_order('card_language', _('Language'), @options, {:cg => @cg.id}) %></th>
    <th></th>
  </tr>

  <% @cards.each_with_index { |card, i| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <td id="number_<%= card.id %>" align="left"><%= card.number %></td>
        <td id="name_<%= card.id %>" align="left"><%= card.name %></td>
        <% if @show_pins %>
          <td id="pin_<%= card.id %>" align="left"><%= card.pin %></td>
        <% end %>
        <td id="batch_<%= card.id %>" align="left"><%= card.batch_number %></td>
        <td id="balance_<%= card.id %>" align="right"><%= nice_number card.balance %></td>
        <td id="first_use_<%= card.id %>" align="center"><%= nice_date card.first_use %></td>
        <td id="active_<%= card.id %>" align="center"><%= link_to card.active == 1 ? b_check : b_cross, {:action => :card_active, :id => card.id, :cg => @cg.id}, {data: {confirm: _('are_you_sure')}, :method => :post} %></td>
        <td id="lang_<%= card.id %>" align="center"><%= card.language %></td>
        <td id="calls_<%= card.id %>" align="center"><%= link_to(b_call, {:controller => 'stats', :action => :last_calls_stats, :s_card_id=>card.id}, {:id => "calls_link_"+ card.id.to_s}) %>
          (<%= card.calls.count %>)
        </td>
      </tr>
  <% } %>
</table>
<br/>
<%= raw page_select_header(@options[:page], @total_pages, @options) %>
