<%= javascript_include_tag 'swfobject' %>

<div align='left' class='nb'>
  <%= form_tag action: :load_stats do %>
      <%= hidden_field_tag 'search_on', 1 %>
      <table class="bordered">
        <tr>
          <td>
            <%= _('Date') %>:
          </td>
          <td>
            <%= select_date(Time.mktime(session[:year_from], session[:month_from], session[:day_from]), end_year: (Date.today.year + 1), prefix: 'date_from') %>
          </td>
        </tr>
        <tr>
          <td>
            <%= _('User') %>:
          </td>
          <td>
            <%= render('shared/live_search_field',
                       object: params[:s_user].to_s,
                       object_id: @options[:s_user] || -2,
                       object_name: 'User',
                       action_url: {controller: :users, action: :get_users_map, options: {show_admin: true}}
                )
            %>
          </td>
          <td id='devices_name'>
            <%= _('Device') %>:
          </td>
          <td id='user_devices'>
            <%= select_tag('device_id', options_for_select([[_('All'), -1]] + (@devices.present? ? (@devices.map { |device| [nice_device_no_pic(device), device.id]}) : []), @options[:s_device])) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= _('Provider') %>:
          </td>
          <td>
            <%= select_tag('s_provider', options_for_select([[_('All'), -1]] + natsort_provider_list(@providers), @options[:s_provider].to_i)) %>
          </td>
          <% unless reseller? %>
              <td>
                <%= _('Server') %>:
              </td>
              <td>
                <%= select_tag('s_server', options_for_select([[_('All'), -1]] + @servers.map { |server| [server.hostname, server.id]}, @options[:s_server].to_i)) %>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= _('Direction') %>:
          </td>
          <td>
            <%= select_tag('s_direction', options_for_select(direction_options_for_select, @options[:s_direction])) %>
          </td>
          <% unless reseller? %>
              <td>
                <%= _('DID') %>:
              </td>
              <td>
                <input title='DID live search' type='text' size='20' id='s_did' name='s_did' autocomplete='off' value='<%= raw @options[:s_did].to_s %>' />
                <table id='did_list' class='did_live_search'></table>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>
            <%= hidden_field_tag 'searched', true %>
            <%= submit_tag _('Search'), data: {disable_with: _('Processing..')} %>
          </td>
        </tr>
      </table>
  <% end %>
</div>

<% if @searching %>
    <% if @all_calls %>
        <br/>
        <br/>
        <table>
          <tr>
            <td>
              <div id='flashcontent7'><strong>You need to upgrade your Flash Player</strong></div>
              <script type="text/javascript">
                  var so = new SWFObject("<%= Web_Dir %>/swf/amline.swf", "amline", "800", "400", "6", "#FFFFFF");
                  so.addVariable("path", "<%= Web_Dir %>/swf/");
                  so.addVariable("settings_file", escape("<%= Web_Dir %>/swf/amline7.xml"));
                  so.addParam("wmode", "transparent");
                  so.addVariable("chart_data", escape("<%= @calls_graph %>"));
                  so.addVariable("additional_chart_settings", encodeURI("<settings><labels><label><x>0</x><y>20</y><rotate>false</rotate><align>center</align><text_size>15</text_size><text><![CDATA[<b><%= _('Load_stats') %></b>]]></text></label></labels></settings>"));
                  so.write("flashcontent7");
              </script>
            </td>
          </tr>
        </table>
    <% end %>
<% elsif !@searching %>
    <br/><%= b_info + _('press_search_button_to_show_data') %>
<% end %>

<script type="text/javascript">
    // User live search
    // Devices dropdown

    show_hide_devices();

    new Form.Element.EventObserver('s_user',
            function(element, value) {
                show_hide_devices();
                if ($('s_user_id').value >= 0) {
                    new Ajax.Updater('user_devices',
                            '<%= Web_Dir %>/devices/cli_user_devices',
                            {
                                evalScripts: true,
                                onComplete: function(request) {Element.hide('spinner');},
                                onLoading: function(request) {Element.show('spinner');},
                                parameters:'id=' + encodeURIComponent($('s_user_id').value) + '&only_dropdown=true'
                            }
                    );
                }
            }
    );

    function show_hide_devices() {
        if ($('s_user_id').value < 0) {
            $('devices_name').style.display = 'none';
            $('user_devices').style.display = 'none';
        } else {
            $('devices_name').style.display = '';
            $('user_devices').style.display = '';
        }
    }
</script>

<script type='text/javascript'>
    // DID live search
    Event.observe(window, 'load', function() {
        Event.observe($('s_did'), 'click', function() {
            if ($('s_did').value == '') {
                $('did_list').innerHTML = '';
                <%= raw remote_function(update: 'did_list', url: {controller: :locations, action: :get_did_map}, with: "'empty_click=true'") %>
            }

            Event.observe($('s_did'), 'keyup', function() {
                $('did_list').innerHTML = '';
                <%= raw remote_function(update: 'did_list', url: {controller: :locations, action: :get_did_map}, with: "'did_livesearch='+$('s_did').value") %>
            });

            Event.observe($('did_list'), 'mouseover', function() {
                var el = document.getElementById('did_list').getElementsByTagName('td');

                for(var i = 0; i < el.length; i++) {
                    el[i].onclick = function() {
                        if (this.id != -2) {
                            document.getElementById('s_did').value = this.innerHTML;

                            <%= raw remote_function(update: 'did_list', url: {controller: :locations, action: :get_did_map}, with: "'did_livesearch='") %>
                        }
                    };

                    el[i].onmouseover = function() {this.style.backgroundColor = '#BBBBBB'};

                    el[i].onmouseout = function() {this.style.backgroundColor = 'rgb(255, 255, 255)'}
                }
            });
        });
    });
</script>