<%= javascript_include_tag "wz_tooltip" %>
<div>
  <span><%= b_currency + _('Currency') %>: <%= session[:show_currency] %></span>
  <% if @searching %>
    <br/>
    <%= b_call + _('total_calls') %>: <b><%= @total_calls %></b>
  <% end %>
</div>
<br/>
<% assigned_partial = accountant? ? 'admin' : session[:usertype].to_s %>
<%= render "last_calls_stats_#{assigned_partial}", local_variables_for_partial(self) %>