<%= form_tag :action => 'profit' do %>
  <%= hidden_field_tag 'search_on', 1 %>
  <table id="search_details" class="simple bordered" style="padding: 0 3px;">
    <tr>
      <td><%= _('From') %>:</td>
      <td><%= select_date(Time.mktime(session[:year_from], session[:month_from], session[:day_from]), :end_year => Date.today.year+1, :prefix => "date_from") %></td>
      <td colspan="2" align="right">
        <% if @search == 1 %>
          <%= link_to b_cross + _('Clear_search'), :action => 'profit', :clear=>'true' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= _('Till') %>:</td>
      <td><%= select_date(Time.mktime(session[:year_till], session[:month_till], session[:day_till]), :end_year => Date.today.year+1, :prefix => "date_till") %></td>
    </tr>
    <tr>
      <td><%= _('User') %>:&nbsp;</td>
      <td>
        <% if admin? %>
          <%= render 'shared/live_search_field', object: @search_user, object_id: @user_id, object_name: 'User', action_url: {controller: :users, action: :get_users_map, options: {show_admin: true}, send_view_values: {responsible_accountant_id: "$('responsible_accountant_id').value"} } %>
        <% elsif accountant? %>
          <%= render 'shared/live_search_field', object: @search_user, object_id: @user_id, object_name: 'User', action_url: {controller: :users, action: :get_users_map, options: {show_admin: true, responsible_accountant_including_owner_users: (current_user.show_only_assigned_users.to_i == 1 ? current_user_id : '')} } %>
        <% else %>
          <%= render 'shared/live_search_field',
            object: @search_user,
            object_id: @user_id, object_name: 'User', action_url: {controller: :users, action: :get_users_map, options: {show_resellers_users: true} } %>
        <% end %>
      </td>
    </tr>
    <tr>
      <% if admin? %>
        <% @rs_map = @responsible_accountants.map { |accountant| [nice_user(accountant), accountant.id] } %>
          <td ><%= _('Responsible_accountant') %>:</td>
          <td ><%= select_tag("responsible_accountant_id", options_for_select([[_('All'), "-1"]] + @rs_map, @options[:search][:responsible_accountant_id]), :style => "width:133px") %></td>
          <script type="text/javascript">
            Event.observe(window, 'load',  function() {
              Event.observe($('s_user'), 'change', function(){
                $('responsible_accountant_id').disabled = ($('s_user_id').value != '-2');
              });
            });
          </script>
      <% end %>
    </tr>
    <tr>
      <td>
        </br>
          <%= submit_tag _('Search'), data: { disable_with: _('Processing..') } %>
      </td>
    </tr>
    <% end %>
  </table>

<% if @user_id != '-2' || @search_user.blank? %>
   <br>
   <table width="100%">
      <tr>
        <td align="right">
          <%= form_tag url_for(:action => 'generate_profit_pdf', user_id: @user_id, username: @search_user), id: 'form_id' do %>
            <%= hidden_field_tag 'total_calls', @data[:total_calls].to_i %>
            <%= hidden_field_tag 'total_answered_calls', @data[:answered].to_i %>
            <%= hidden_field_tag 'total_answer_percent', @data[:total_answer_percent] %>
            <%= hidden_field_tag 'total_not_ans_calls', @data[:no_answer].to_i %>
            <%= hidden_field_tag 'total_not_ans_percent', @data[:total_not_ans_percent] %>
            <%= hidden_field_tag 'total_busy_calls', @data[:busy].to_i %>
            <%= hidden_field_tag 'total_busy_percent', @data[:total_busy_percent] %>
            <%= hidden_field_tag 'total_error_calls', @data[:error].to_i %>
            <%= hidden_field_tag 'total_error_percent', @data[:total_error_percent] %>
            <%= hidden_field_tag 'total_duration', @data[:total_duration] %>
            <%= hidden_field_tag 'average_call_duration', @data[:total_call_duration] %>
            <%= hidden_field_tag 'total_call_price', @data[:total_call_price] %>
            <%= hidden_field_tag 'total_percents', @data[:total_percent] %>
            <%= hidden_field_tag 'active_users', @data[:active_users] %>
            <%= hidden_field_tag 'total_call_selfprice', @data[:total_call_selfprice] %>
            <%= hidden_field_tag 'total_selfcost_percents', @data[:total_selfcost_percent] %>
            <%= hidden_field_tag 'total_profit', @data[:total_profit] %>
            <%= hidden_field_tag 'total_profit_percent', @data[:total_profit_percent] %>
            <%= hidden_field_tag 'avg_profit_call_min', @data[:avg_profit_call_min] %>
            <%= hidden_field_tag 'avg_profit_call', @data[:avg_profit_call] %>
            <%= hidden_field_tag 'avg_profit_day', @data[:avg_profit_day] %>
            <%= hidden_field_tag 'avg_profit_user', @data[:avg_profit_user] %>
            <% if session[:usertype] != 'reseller' %>
                <%= hidden_field_tag 'sub_price', @data[:sub_price] %>
                <%= hidden_field_tag 's_total', @data[:s_total_profit] %>
                <%= hidden_field_tag 'did_owner_costs', @data[:total_did_price] %>
            <% end %>
            <%#= image_submit_tag('icons/pdf.png', :title => (_('Export_to_PDF')  + _('Export_to_PDF')) %>
            <%= link_to b_pdf + _('Export_to_PDF'), '#', :onclick=>"$('form_id').submit()", :remote => true%>
          <% end %>
        </td>
      </tr>
    </table>
    </br>
    <table width="100%" class="maintable">
      <tr>
        <th colspan="5" align="left">
          <%= _('Profit_for') %>:
          <% if @user_id  == -1 %>
              <%= _('All') %>
          <% else %>
            <% if user = User.where(id: @user_id).first %>
              <%= user.username + " - " + user.first_name + " " + user.last_name %>
            <% else %>
              <%= @search_user.to_s %>
            <% end %>
          <% end %>
          <%= ", " + _('Period') + ": " + nice_date(session_from_date, 0) + " - " + nice_date(session_till_date, 0) %>
        </th>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_total_calls"><%= _('Calls_Total') %></td>
        <td align="right" id="number_total_calls"><%= @data[:total_calls].to_i %></td>
        <td colspan="3"></td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_answer_calls"><%= _('answered_calls') %></td>
        <td align="right" id="number_answer_calls"><%= @data[:answered].to_i %></td>
        <td align="right" id="percent_answer_calls"><%= nice_number(@data[:total_answer_percent].to_d) + " %" %></td>
        <td align="left"> <%= _('Duration') + ": " + nice_time(@data[:total_duration].to_s) %></td>
        <td align="left"> <%= _('Average_call_duration') + ": " + nice_time(@data[:total_call_duration].to_s) %> </td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_no_ans_calls"> <%= _('No_Answer') %> </td>
        <td align="right" id="number_no_ans_calls"> <%= @data[:no_answer].to_i%> </td>
        <td align="right" id="percent_no_ans_calls"> <%= nice_number(@data[:total_not_ans_percent].to_d) + " %" %> </td>
        <td colspan="2"></td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_busy_calls"> <%= _('Busy_calls') %> </td>
        <td align="right" id="number_busy_calls"> <%= @data[:busy].to_i %> </td>
        <td align="right" id="percent_busy_calls"> <%= nice_number(@data[:total_busy_percent].to_d) + " %" %> </td>
        <td colspan="2"></td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_erro_calls"> <%= _('Error_calls') %> </td>
        <td align="right" id="number_erro_calls"> <%= @data[:error].to_i %> </td>
        <td align="right" id="percent_erro_calls"> <%= nice_number(@data[:total_error_percent].to_d) + " %" %> </td>
        <td colspan="2"></td>
      </tr>

      <tr>
        <th></th>
        <th align="right"> <%= _('Amount') %> </th>
        <th align="center"> <%= _('Call_time') %> </th>
        <th align="right"> <%= _('Active_users') %> </th>
        <th align="right"> <%= _('Percent') %> </th>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_total_call_price"> <%= _('Total_call_price') %> </td>
        <td align="right" id="number_total_call_price"> <%= nice_number(@data[:total_call_price].to_d) %> </td>
        <td align="center" id="total_duration_percent"> <%= nice_time(@data[:total_duration]) %> </td>
        <td align="right" id="total_users_percent"> <%= @data[:active_users].to_i %></td>
        <td align="right" id="total_percent" > <%= nice_number(@data[:total_percent].to_d) + " %" %></td>
      </tr>

      <% unless (reseller? || partner?) %>
        <tr class="row<%= cycle(1, 2) %>">
          <td align="left"><%= _('Total_call_DID_owner_price') %></td>
          <td id="did_owner_cost" align="right"> <%= nice_number(@data[:total_did_price].to_f) %></td>
          <td colspan="3"></td>
        </tr>
      <% end %>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_total_self_price"> <%= _('Total_call_self_price') %> </td>
        <td align="right" id="number_total_self_price"> <%= nice_number(@data[:total_call_selfprice].to_d) %> </td>
        <td colspan="2"></td>
        <td align="right" id="total_selfcost_percent"> <%= nice_number(@data[:total_selfcost_percent].to_d) + " %" %> </td>
      </tr>

      <tr>
        <th align="left" id="text_calls_profit"><%= _('Calls_profit') %></th>
        <th align="right" id="number_calls_profit"> <%= nice_number(@data[:total_profit].to_d) %></th>
        <th colspan="2"></th>
        <th align="right" id="percent_calls_profit"> <%= nice_number(@data[:total_profit_percent].to_d) + " %" %></th>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left" id="text_avg_profit_per_min"> <%= _('Average_profit_per_call_min') %></td>
        <td align="right" id="number_avg_profit_per_min"> <%= nice_number(@data[:avg_profit_call_min].to_d) %></td>
        <td colspan="3"></td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left"> <%= _('Average_profit_per_call') %></td>
        <td id="avg_profit_per_call" align="right"> <%= nice_number(@data[:avg_profit_call].to_d) %></td>
        <td colspan="3"></td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left"> <%= _('Average_profit_per_day') %></td>
        <td id="avg_profit_per_day" align="right"> <%= nice_number(@data[:avg_profit_day].to_d) %></td>
        <td colspan="3"></td>
      </tr>

      <tr class="row<%= cycle(1, 2) %>">
        <td align="left"> <%= _('Average_profit_per_active_user') %></td>
        <td id="avg_profit_per_user" align="right"> <%= nice_number(@data[:avg_profit_user].to_d) %></td>
        <td colspan="3"></td>
      </tr>

      <tr>
        <th></th>
        <th align="right"> <%= _('Without_VAT') %> </th>
        <th colspan="3"></th>
      </tr>
      <% unless (reseller? || partner?) %>
          <tr>
            <th align="left"><%= _('Subscriptions_profit') %></th>
            <th id="subscription_profit" align="right"> <%= nice_number(@data[:sub_price].to_f) %></th>
            <th colspan="3"></th>
          </tr>
      <% end %>
      <tr>
        <th align="left" id="test_total_profit"><%= _('Total_profit') %></th>
        <th align="right" id="number_total_profit"> <%= nice_number(@data[:s_total_profit].to_f) %></th>
        <th colspan="3"></th>
      </tr>
    </table>
<% end %>
