<% if defined?(user) and !user.new_record? and params[:action] != "default_user" %>
    <td id="logged_<%= user.id %>" align="center">
      <% if user.blocked.to_i == 0 %>
          <%= user.logged == 1 ? b_online : b_offline %>
      <% else %>
          <%= image_tag('icons/exclamation.png', :title => _('User_is_blocked')) %>
      <% end %>
    </td>

    <td id="call_list_<%= user.id %>" align="center">
      <%= link_to(b_call, {:controller => "stats", :action => "last_calls_stats", :s_user => nice_user(user), :s_user_id => user.id}, :id => "call_list_link_"+user.id.to_s) unless user.is_accountant? %>
    </td>
    <% if show_rec? %>
      <td id="recordings_<%= user.id %>" align="center"> <%= link_to(b_record, {:controller => "recordings", :action => "recordings", :id => user.id}, :id => "recordings_link_"+user.id.to_s) if user.is_user? %> </td>
    <% end %>
    <% unless (accountant? and not accountant_can_write?('user_manage')) %>
        <td id="login_as_<%= user.id %>" align="center"><%= link_to(b_login_as, {:controller => "functions", :action => 'login_as_execute', :user => user}, :id => "login_as_link_"+user.id.to_s, data: {confirm: _('are_you_sure')}, :method => :post) unless [0, current_user.id].member?(user.id) %></td>
    <% end %>

    <% if admin? || reseller? %>
        <td id="call_tracing_<%= user.id %>" align="center"><%= link_to(b_call_tracing, {:controller => 'functions', :action => 'call_tracing_user', :user => user.id}, :id => "call_tracing_link_"+user.id.to_s) if user.is_user? %> </td>
    <% end %>

    <% if admin? || reseller? %>
        <td id="device_groups_<%= user.id %>" align="center"><%= link_to(b_groups, {:controller => 'users', :action => 'device_groups', :id => user.id}, :id => "device_groups_link_"+user.id.to_s) if user.is_user? %> </td>
    <% end %>

    <% if (!accountant? || session[:acc_device_manage].to_i != 0) && !partner? %>
        <td id="show_devices_<%= user.id %>" align="center"><%= link_to(b_device + ("(#{user.devices.size})" if params[:action] == 'list'), {:controller => 'devices', :action => 'show_devices', :id => user.id}, :id => "show_devices_link_"+user.id.to_s) if user.is_user? %></td>
    <% end %>

    <% if ["admin", "reseller", 'partner'].include?(session[:usertype]) or (accountant? and session[:acc_payments_manage] > 1) %>
        <td id="manual_payment_<%= user.id %>" align="center"><%= link_to(b_money, {:controller => 'payments', :action => 'manual_payment', :user_id => user.id}, :id => "manual_payment_link_"+user.id.to_s) unless user.is_accountant? %></td>
    <% end %>
    <% if admin? || reseller? || partner? || (accountant? && session[:acc_user_create_opt_4].to_i >= 1) %>
    <td id="custom_rates_<%= user.id %>" align="center"><%= link_to(b_crates, {:controller => 'users', :action => 'custom_rates', :id => user.id}, :id => "custom_rates_link_"+user.id.to_s) if not user.is_accountant? and user.try(:purpose) == "user" %></td>
    <% end %>

    <% if admin? || reseller? || partner? || (accountant? && (session[:acc_manage_subscriptions_opt_1] > 0)) %>
        <td id="subscriptions_<%= user.id %>" align="center"><%= link_to(b_subscriptions, {:controller => 'services', :action => 'subscriptions_list', :id => user.id}, :id => "subscriptions_link_"+user.id.to_s) if user.is_user? || user.is_reseller? || user.is_partner? %></td>
    <% end %>

   <% if ['admin', 'reseller', 'partner'].include?(session[:usertype]) || (accountant? && (session[:acc_invoices_manage] > 0)) %>
        <td id="invoices_<%= user.id %>" align="center"><%= link_to(b_invoice, {controller: :accounting, action: :invoices, s_username: user.username}) unless user.is_accountant? %></td>
    <% end %>

    <% if admin? || partner? || (accountant? and session[:acc_user_manage].to_i == 2) %>
        <td id="user_log_<%= user.id %>" align="center">
          <%= link_to(b_user_log, {:controller => "stats", :action => "action_log", :user_id => user}, :id => "user_log_link_"+user.id.to_s) %>
        </td>
    <% end %>

    <% unless (params[:controller] == "users" and params[:action] == "edit") %>
        <% if accountant? and user.id == session[:user_id] %>
         <td id="edit_<%= user.id %>" align="center"><%= link_to b_edit, {:action => 'personal_details'}, :id => "edit_link_"+user.id.to_s %></td>
        <% else %>
          <td id="edit_<%= user.id %>" align="center"><%= link_to b_edit, {:action => 'edit', :id => user}, :id => "edit_link_"+user.id.to_s unless (user.usertype == "admin" or user.usertype == "accountant") and session[:usertype] != "admin" %></td>
        <% end %>
    <% end %>

    <% if admin? || (accountant? && session[:acc_user_manage].to_i == 2) || reseller?  || partner?%>
        <% user.hidden.to_i == 1 ? img = b_unhide : img = b_hide %>
        <td id="hide_<%= user.id %>" align="center"><%= link_to(img, {:action => 'hide', :id => user}, {:id => "hide_link_"+user.id.to_s, data: {confirm: _('are_you_sure')}, :method => "post"}) unless (user.usertype == "admin" or user.usertype == "accountant") and session[:usertype] != "admin" %></td>
    <% end %>

    <% unless (accountant? and session[:acc_user_manage].to_i != 2) %>
        <td id="delete_<%= user.id %>" align="center"><%= link_to b_delete, {:action => 'destroy', :id => user}, :id => "delete_link_"+user.id.to_s, data: {confirm: _('are_you_sure')}, :method => "post" unless (user.usertype == "admin" or user.usertype == "accountant") and session[:usertype] != "admin" %></td>
    <% end %>
<% end %>
